<header>
  <div class="container-fluid">
    <div class="stack">

      <div class="stack-item">
        <div class="d-flex flex-row align-items-center">
          <div class="menu-toggler mr-4 d-flex align-items center">
            <i class="icon-menu icons" style="font-size: 24px;"></i>
          </div>
        </div>
      </div>

      <div class="stack-item float-left">
        <a href="/" class="logo">
          <div class="d-flex flex-row align-items-center">
            <img src="assets/imgem.png" alt="logo-img" />
          </div>
        </a>
      </div>

      <div class="menu-buttons d-flex justify-content-end">
        <button type="button" class="btn btn-outline-dark" style="margin-right: 10px;">Listagem de cursos</button>
        <button type="button" class="btn btn-outline-dark">Cadastro de cursos</button>
      </div>
    </div>
  </div>
</header>