.galeria {
    flex-wrap: wrap;
    align-items: flex-start;

    .card {
        width: 480px;
        height: 450px;
        text-align: justify;
        margin-bottom: 30px;

        .card-body {
            color: rgb(66, 71, 78);
        }
    }
}
