<div class="container">
    <table class="table table-striped">
        <thead>
            <tr align="center">
                <th>Curso</th>
                <th>Data de Início</th>
                <th>Data Final</th>
                <th>Duração</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center" *ngFor="let item of dadosCurso">
                <td>{{item.nome}}</td>
                <td>{{item.dataInicio}}</td>
                <td>{{item.dataFim}}</td>
                <td>{{item.duracao}}</td>
                <td>
                    <button type="button" class="btn btn-dark btn-sm">Descrição</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>