<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/imgem.png" alt="logo-img">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-light btn-lg" [routerLink]="['/cadastro']">Cadastrar um curso</button>
        </div>
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-warning btn-lg" [routerLink]="['/cursos']">Cursos disponíveis</button>
        </div>
    </div>
</div>