.formulario-cadastro {
    background: #1f1f1f;
    height: 48vh;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border: 1px solid #000000;
    box-sizing: border-box;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 1.5rem 5rem;
}